#page_con{
    display: flex;
    flex-direction: row;
    background-color:white;
    border: 2px solid transparent;
    box-shadow: 0 2px 3px gray;
    width: 100%;
    height: 100%;
    padding: 100px;
}
#content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

#content img{
    padding: 30px;
}

#form {
    display: flex;
    flex-direction: column;
    align-items: center;

}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#submit{
    background-color: black;
    color: white;
}

.box{
    border:1px solid black;
    background-color: white;
}

form input{
    padding:10px;
    margin:10px
}

div p {
    text-wrap: wrap;
    text-align: center;
}