body {
    font-family: Arial, sans-serif;
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    color: rgb(0, 0, 0);
    box-sizing: border-box;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 20px;

}

header div {
    width: 100px;
    height: 100px;
}

header img {
    width: 100%;
    height: auto;
}
header h1 {
    border: 2px none blue;
    padding: 0px;
    margin-left: 0px;
    margin-top: 0px;
}

nav ul {
    background-color: rgb(28, 192, 233);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-bottom: 2px solid blue; 
    box-shadow: 2px 4px blue;  
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    padding: 0;
    margin: 0;
    list-style: none;
}

nav li{
    padding: 0px
}

nav li:hover{
    background-color: rgb(253, 8, 8);
    border-radius: 15px;
    border: 1px solid whitesmoke;
    color: rgb(254, 253, 255);
}

nav li a{
    text-decoration: none;
    color: inherit;
    display: block;
    padding: 10px 20px;
    border: 1px solid transparent;
    cursor: pointer;
    transition: all 0.3s ease;
}

nav li a:visited{
    text-decoration: none;
    color: inherit;
}

nav {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.content {
    padding: 15px;
    margin: 0 auto; /* centers the content horizontally */
}

.card-container {
    padding: 15px;
    display: flex;
    justify-content: center;
    column-gap: 5px;
    row-gap: 5px;
    flex-wrap: wrap;
}

.card {
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 0 2px 4px rgb(0, 0, 0);
    padding: 10px;
    background: blue;
    width: 250px;
    height: 300px;
    margin: 10PX;
}

.card-image {
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 0 2px 4px rgb(0, 0, 0);
    padding: 10px;
    background-color: rgb(28, 192, 233);
    height: 150px;
    margin-bottom: 15px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card-1 {
    background-image: url(../img/Sublimation.webp);
}

.card-2 {
    background-image: url(../img/DTF.jpg);
}

.card-3 {
    background-image: url(../img/Graphic\ Design.png);
}

.card-4 {
    background-image: url(../img/Engraving.jpg);
}

.card:hover {
    transform: scale(1.10);
    transition: transform 0.3s ease;
    cursor: pointer;
}

.card h2 {
    margin-bottom: 5px;
    font-size: 20px;
    text-align: center;
}

.card p {
    margin-top: 0px;
    font-size: 14px;
    line-height: 1.4;
    text-align: justify;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    padding: 20px;
    margin: 0;
    column-gap: 20px;
    row-gap: 10px;
}

.image {
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

.image img {
    display: block;
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.about-box-container {
    padding: 15px;
    display: flex;
    justify-content: center;
    column-gap: 5px;
    row-gap: 5px;   
}

.about-box {
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 0 2px 4px rgb(0, 0, 0);
    padding: 10px;
    background: rgb(252, 252, 253);
    width: 2500px;
    height: 250px;
    margin: 10PX;
}

.about-box-image {
    border-radius: 5px;
    padding: 0px;
    width: 100%;
    height: 100%;
    margin-bottom: 0px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.about-img1 {
    background-image: url(../img/AboutUs.jpg)
}

.about-text h2 {
    padding-top: 10px;
    padding-bottom: 0px;
}

.about-text p {
    padding-top: 0px;
    padding-bottom: 0px;
    margin: auto;
}

.about-box-right-container {
    display: flex;
    padding-top: 145px;
    padding-left: 20px;
}

.about-box-right {
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 0 2px 4px rgb(0, 0, 0);
    padding: 10px;
    background: rgb(252, 252, 253);
    width: 500px;
    height: 250px;
    margin: 0PX;
}

.about-box-right-image {
    border-radius: 5px;
    padding: 0px;
    width: 500px;
    height: 250px;
    margin-bottom: 0px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.about-img2 {
    background-image: url(../img/WhatWeDo.png)
}

.about-text-right h2 {
    padding-top: 10px;
    padding-bottom: 0px;
}

.about-text-right p {
    padding-top: 0px;
    padding-bottom: 20px;
    text-align: justify;
}

.about-box-left {
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 0 2px 4px rgb(0, 0, 0);
    padding: 10px;
    background: rgb(252, 252, 253);
    width: 500px;
    height: 250px;
    margin-left: 255px;
}

.about-box-left-image {
    border-radius: 5px;
    padding: 0px;
    width: 500px;
    height: 250px;
    margin-bottom: 0px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.about-img3 {
    background-image: url(../img/WhyChooseUs.jpg)
}

.about-text-left h2 {
    padding-top: 10px;
    padding-bottom: 0px;
}

.about-text-left p {
    padding-top: 0px;
    padding-bottom: 20px;
    text-align: justify;
}