body {
    font-family: Arial, sans-serif;
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    color: rgb(0, 0, 0);
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
}

header div {
    width: 100px;
    height: 100px;
}

header img {
    width: 100%;
    height: auto;
}