body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:white;
    margin: 0;
    padding: 0;
    color: pink;
    box-sizing: border-box;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
}

header div {
    width: 200px;
    height: 200px;
}

header img {
    width: 100%;
    height: 90%;
}

header h1 {
    border: 2px none blue;
    padding: 0px;
    margin-left: 0px;
}

nav {
    background-color: black;
    border-bottom: 2px solid white;
    box-shadow: 0 2px 4px white; 
}

nav ul {
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: space-evenly;
    column-gap: 20px;
    padding: 0;
    margin: 0;
    color: pink;
}

nav li {
    padding: 10px 20px;
    border: 1px solid transparent;
    cursor:default;
    transition: all 0.2s ease-out;
}

nav li:hover {
    background-color: white;
    border-radius: 0px;
    border: 1px;
    color: white;
}

nav li a{
    text-decoration: none;
    color: inherit;
}

nav li a:visited{ 
    text-decoration: none !important;
    color: inherit !important;
}

.img {
    padding: 20px;
    margin: 20px;
    justify-content: center;
    /* text-align: center; */
    /* border: 3px solid black; */
}

.gallery { 
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 0;
    margin: 0;
    row-gap: 10px;
    column-gap: 20px;
}

div img {
    height: auto;
    width: 100px;
    object-fit: cover;
}

.Sections h1 {
    display: flex;
    border: 5px solid black;
    box-sizing: border-box;
    border-color: black;
    justify-content: center;
    font-size:xx-large;
    padding: 50px;
    height: 150px;
}

.Sections h2 {
    display: flex;
    width: 700px;
    height: 300px;
    border: 5px solid black;
    box-sizing:content-box;
    border-color: black;
    justify-content: center;
    font-size:x-large;
    padding: 20px;
}

.Sections h3 {
    display: flex;
    width: 700px;
    height: 300px;
    border: 5px solid black;
    box-sizing: content-box;
    border-color: black;
    justify-content: center;
    font-size:x-large;
    padding: 20px;
}

.Content-Boxes {
    display: flex;
    column-gap: 20px;
    justify-content: space-between;
}

.Welcome {
    display: flex;
    width: 700px;
    height: 300px;
    margin: 0px;
    border: 3px solid black;
    box-sizing: content-box;
    border-color: black;
    font-size: medium;
    padding: 200px;
}

.SignUp {
    width: 100px;
    height: 300px;
    margin: 0px;
    border: 3px solid black;
    border-color: black;
    padding: 200px;
    flex-direction: column;    
}

.Register-Boxes {
    display: flex;
}

.Credentials .input-box {
    width: 200px;
    height: 200px;
    font-size:xx-large;
}

@media screen and (max-width: 768px) { /*  targeting tablets and devices landscape orientation*/
  
    
}

@media screen and (max-width: 480px) { /*  targeting mobile devices */  
    .Register-Boxes {
        flex-direction: column;
    }
}