body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-color: #cac7e08a;
    margin: 0;
    padding: 0;
    color: #070404fe;
}

header {
    display: flex;
    flex-direction: row;;
    align-items: center;
    justify-content: center;
    column-gap: 20px:
}
header div {
    width: 100px;
    height: 100px;
}

header img {
    width: 100%;
    height: auto;
}
header h1 {
    border: 2px solid blue;
    padding: 0px
    margin-left: 0px;
}