body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-color: #cac7e08a;
    margin: 0;
    padding: 0;
    color: #070404fe;
}

header {
    display: flex;
    flex-direction: row;
    ;
    align-items: center;
    justify-content: center;
    column-gap: 20px:
}

header div {
    width: 100px;
    height: 100px;
}

header img {
    width: 100%;
    height: auto;
}

header h1 {
    border: 2px solid blue;
    padding: 15px;
    margin-left: 30px;
}

nav {
    background-color: #f0f0f0;
    border-bottom: 2px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 20px;
    padding: 10px;
    margin: 5px;
}

nav li {
    padding: 10px 20px;
    border: 5px;
    cursor: pointer;
    transition: background-color 0.5s ease;

}

nav li:hover {
    background-color: #ccc;
    border-radius: 5px;
    border: 2px solid blue;
    color: #070404fe;
}