body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

header div {
    width: 200px;
    height: 200px;
}

header img {
    width: 100%;
    height: auto;
}